/*コードの文字化けを防ぐ*/
@charset "UTF-8";

/*共通部分
------------------------------------------------*/
html{
    /*ユーザのブラウザ設定した文字サイズを正しく反映*/
    font-size: 100%;
}
body{
    /*書体の指定*/
    font-family: 'Hiragino Kaku Gothic ProN',"Hiragino Sans", "BIZ UDPGothic" sans-serif;
    /*行の高さの指定*/
    line-height: 1.7;
    color: #432;
}
a{
    /*<a>タグの飾りつけ（下線や黒丸）不要*/
    text-decoration: none;
}
img{
    /*画像の大きさの指定*/
    max-width: 100%;
}

/*本文部のレイアウト（左右余白を入れる）*/
.wrapper{
    max-width: 1120px;
    /*ボックスを画面中央に*/
    margin: auto;
    /*上下・左右*/
    padding: 0 1.5rem;
}

 /*ロゴレイアウト（配置を画面センターにする）*/
 .align-center{
    text-align: center;
 }

/*見出し「We'll Make Your Day」と本文テキスト
-------------------------------------------*/
/*Googleフォント使用*/
.font-english {
    font-family: 'Philosopher', sans-serif;
    font-weight: normal;
}
.page-title,.heading-large,.heading-medium{
    font-size: 3rem;
    text-align: center;
}
.page-title{
    margin-top: 2rem;
    /*テキストの上下のスペース*/
    line-height: 1.4;
}
.heading-large{
    margin-bottom: 1rem;
}
/*  ボタン  */
.btn{
    display: inline-block;
    font-size: 1.5rem;
    background-color: #0bd;
    color: #fff;
    /*ボタン角丸*/
    border-radius: 8px;
    padding: .75rem 1.5rem;
    /*トランジション（簡易アニメーション）ボタンを変化させる。btn:hoverと連携*/
    transition: 0.6s;
}
/*  ボタンにカーソルを重ねた時に適用される  */
.btn:hover{
    background-color: #f0e087;
    scale:1.1;
    rotate:-5deg;
    translate:100px;
}

/*iframe（埋め込みという意味）    Googleマップ 
------------------------------------------------*/
/*Googマップを横いっぱいにになるよう*/
iframe{
    width: 100%;
}

/*ヘッダーエリア
------------------------------------------------*/
.page-header{
    padding-top: .5rem;
}
.logo{
    /*ロゴの横幅の指定*/
    width: 210px
}

.main-nav{
    /*navを横並び*/
    display: flex;
    /*navを中央揃い*/
    justify-content: center;
    /*各nav間*/
    gap: 2.5rem;
    font-size: 1.5rem;
    /*リストマーカに対する装飾なし*/
    list-style: none;
}
/*navの通常時*/
.main-nav a{
    color: #432;
}
/*navにカーソルを乗せた時*/
.main-nav a:hover{
    color: #0bd;
}
/*navにクリックした時*/
.main-nav a:active{
    color: red;
}
/*ヘッダー画像
------------------------------------------------*/
/*TOP画面*/
.cover{
    /*画像の縦横比保持したまま、表示領域をうめつくすように表示*/
    background-size: cover;
    background-position: center bottom;
    height: 800px;
    /*画像の縦横比保持したまま、画像がすべて表示*/
    /* background-size: contain; */
}
/*NEW画面*/
.sub-cover{
    background-size: cover;
    background-position: center bottom;
    height: 528px;
    margin-bottom: 4rem;
}

/*HOME（TOP用本文）
------------------------------------------------*/
/*カプチーノの画像*/
.cover-home{
    background-image: url(../images/cover-home-s.webp);
}

/*本文テキスト*/
.about{
    /*736pxよりも画面が広くなると、margin sutoにより自然と左右に余白ができる*/
    max-width:736px;
    /*上下・左右*/
    padding: 0 1.5rem;
    /*上・左右・下*/
    margin: 3rem auto 0;
}
.about p{
    margin-bottom: 3rem;
}

/*NEWSここから
------------------------------------------------*/
/*ヘッダーエリア*/
.cover-news{
    /*グリーンテイの画像*/
    background-image: url(../images/cover-news-s.webp);
}
/*タイトルとinfoリスト*/
.post{
    margin-bottom: 3rem;
}
/*タイトル（新メニューの試食イベントを開催します）*/
.post-title{
    font-weight:normal;
    margin-bottom: 1.25rem;
}
/*infoリスト全体*/
.post-info{
    /*横並び配置*/
    display: flex;
    /*リスト間*/
    gap:1rem;
    margin-bottom: 2rem;;
}

/*リスト本体（お店の紹介/イベント）*/
.post-cat{
   /*横並び配置*/
    display: flex;
    /*リスト間*/
    gap: 0.5rem;
    /*リストに対する装飾なし*/
    list-style: none;
}
/*リストの文字部分*/
.post-cat a{
    color:#432;
    background-color: #faf7f0;
    border-radius: 8px;
    font-size: 0.875;
    padding: 0.5rem 0.75rem;
}
/*リストの文字にカーソルを合わせたとき*/
.post-cat a:hover{
    background-color: #c9c2bc;
}
/*日付*/
.post-date{
    font-size: 0.875rem;
}
/*店画像*/
.post-thumbnail{
    /*店画像を角丸に*/
    border-radius: 16px;
    margin-bottom: 1.5rem;
}
/*店の説明*/
.post p{
    margin-bottom: 1.5rem;
    /*行間*/
    line-height: 2;
}
/*サイドバーエリア*/
/*お店の紹介～2020年のリスト全体*/
.side-menu{
    /*リスト装飾なし「●なし」*/
    list-style: none;
    text-align: center;
    margin-bottom: 4rem;
}
/*お店の紹介などのリスト単体*/
.side-menu li{
    border-bottom: 1px solid #c9c2bc;
}
/*お店の紹介などの文字*/
.side-menu a{
    color: #432;
    /*この指定でリスト全体でクリック可能になる*/
    display: block;
    padding: 1rem;
}
/*お店の紹介などの文字にカーソル合えば色変化*/
.side-menu a:hover{
    color: #0bd;
}

/*MENUここから----------------------------------
*/
.cover-menu{
    /*料理画像*/
    background-image: url(../images/cover-menu-s.webp);
}
/*タイル型レイアウトの設定*/
.grid{
    /*タイル型に並べる指定*/
    display: grid;
    /*縦余白　横余白*/
    gap:2rem 1.5rem;
    /*2列均等。frフラクション*/
    grid-template-columns: repeat(2,1fr);
    text-align: center;
}
/*料理等の画像*/
.item img{
    /*画像比率*/
    aspect-ratio: 1/1;
    /*はみ出した部分をトリミング*/
    object-fit: cover;
    border-radius: 16px;
}
/*料理名*/
.item p{
    font-size: 0.875rem;
}
/*CONTACT
ここから----------------------------------
*/
/*RESERVED（予約画像）*/
.cover-contact{
    background-image: url(../images/cover-contact-s.webp)
}

.location{
    margin-bottom: 3.5rem;
}
.location-info{
    margin-bottom: 2rem;
}
.location-info .info{
    padding: 0;
}
/*お問合せ
ここから----------------------------------
*/
.email{
    max-width: 916px;
    background-color: #faf7f9;
    border-radius: 48px;
    padding: 1.5rem 2.5rem 2.5rem;
    margin: 0,auto 2rem;
}
.email p{
    margin:1rem,0,2rem;
}

/*SNS
ここから----------------------------------
*/
.sns-item{
    margin-bottom: 2rem;
}
.sns-item .heading-medium{
    margin-bottom: 0.5rem;
}
.sns-youtube{
    aspect-ratio:16/9;
}
.sns-youtube iframe{
    height: 100%;
}

/*フッターエリア
------------------------------------------------*/
.page-footer{
    /*背景画像の指定*/
    background-image: url(../images/footer-s.webp);
    background-size: cover;
    background-position: center;
    padding-top: 12rem;
}
/*テーブル全体の設定*/
.info{
    width: 100%;
    /*最大幅の指定*/
    max-width: 544px;
    margin: auto;
    /*上下・左右*/
    padding: 0 1.5rem;
    /*1行ごとに1本の線を引く指定*/
    border-spacing: 0;
}
.info th,
.info td{
    border-bottom: 1px solid #c9c2bc;
}
.info th{
    text-align: left;
    font-weight: normal;
    padding: 1rem;
}
.info td{
    padding: 1rem 0;
}
/*コピーライト*/
.copyright{
    background-color: #432;
    text-align: center;
    padding: 2rem 0;
    margin-top: 6rem;
    color: #fff;
}

/*デスクトップ版
------------------------------------------------*/
/*メディアクェリー（画面横幅が800px以上になった場合）*/
/*ブレークポイントの設定*/
@media(min-width:800px){
    /*見出し「We'll Make Your Day」*/
    .page-title{
        font-size: 5rem;
    }

    /*About CafeとInfomation*/
    .heading-large{
        font-size:4rem
    }
    /*新メニューの試食イベントを開催します*/
    .post-title{
        font-size: 2rem;
    }

    /*ヘッダーエリア（ロゴとページ名＋ナビゲーションメニュー）*/
    .page-header{
        /*横並びに配置*/ 
        display: flex;
        /*両脇に設置*/
        justify-content: space-between;
        padding-top: 1.5rem;
    }

    /*ナビゲーションメニュー*/
    .main-nav{
        font-size: 2rem;
    }

   /*ヘッダーエリア*/
   .sub-cover{
        height:400px;
        margin-bottom:6rem;
   }
 
    /*ヘッダーエリアの画像*/
    .cover-home{
        background-image: url(../images/cover-home-l.webp);
    }
    /*本文テキスト*/
    .about{
        margin:4rem auto 0;
    }

    /*NEWSここから-ヘッダーエリア------------------------
    */
    .cover-news{
        /*グリーンティ画像*/
        background-image: url(../images/cover-news-l.webp);
    }
    /*本文部（サイドバー含む）*/
    .news-contents{
        /*横並び指定*/
        display:flex;
        /*子要素を両脇に*/
        justify-content: space-between;
    }
    /*タイトル～店の写真～説明*/
    .post{
        width:60%;
        /*横並び2番目*/
        order: 2;
    }
    /*サイドバー部分*/
    .sidebar{
        width:22%;
        /*横並び3番目*/
        order: 3;
    }
    /*バナー画像部*/
    .ad{
        /*横並び1番目*/
        order:1;
    }

    /*サイドバー部分（カテゴリー見出し（お店の紹介～2020年）*/
    .sidebar .heading-medium{
        /*行間*/
        line-height: 1;
        margin-bottom: 1rem;
    }

    /*MENUここから------------------------
    */
    .cover-menu{
        /*料理画像*/
        background-image: url(../images/cover-menu-l.webp);
    }
    /*タイル型レイアウトの設定。デスクトップ版*/
    .grid{
        /*縦余白　横余白*/
        gap:3rem 2rem;
        /*3列均等。frフラクション*/
        grid-template-columns: repeat(3,1fr);
    }
    /*料理等の画像*/
    .item img{
        margin-bottom: 0.5rem;
    }
    /*料理名*/
    .item p{
        font-size: 1rem;
    }
    /*2×2の大きさの画像を設定*/
    .item-big{
        /*Grid1～3列で指定*/
        grid-column: 1/3;
        /*Grid1～3行で指定*/
        grid-row: 1/3;
    }

    /*2×2の大きさの画像の縦サイズ調整*/
    .item-big img{
        height:94.5%;
        width:100%;
    }
    /*MENUここまで------------------------
    */

    /*Contact----------------------------
    */
    .cover-contact{
        background-image: url(../images/cover-contact-l.webp);
    }

    .location{
        display: flex;
        gap:2rem
    }
    .location-info{
        width: 32%;
    }
    .location-info .info th{
        padding-left: 2rem;;
    }
    .location-map{
        width: 64%;
    }
    /* ↓ 追加 ↓ ------------------------------- */    
    .email {
        margin-bottom: 4rem;
    }
    .sns {
        display: flex;
        align-items: flex-start;
        gap: 2rem;
        margin-bottom: 0;
    }
    .sns-item {
        flex: 1;
    }

    /*フッター----------------------------
    */
    .page-footer{
        background-image: url(../images/footer-l.webp);
        padding-top: 12rem;
    }

    .info th{
        padding-left: 2.5rem;
    }
}








